################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp2/.vs
/ConsoleApp2/bin/Debug/net6.0
/ConsoleApp2/obj
